In [1]:
from sqlalchemy import create_engine as ce
import pandas as pd

In [2]:
calls = pd.read_excel("Call Centre Data.xlsx")

In [3]:
eng = ce("mysql+mysqlconnector://root:xH9f&dm4K%z@localhost:3306/call_centre")

In [4]:
calls.to_sql("calls", eng, index=False)

ValueError: Table 'calls' already exists.